.giftModal {
  width: 680px;
  height: 680px;
  background-color: #f5f5f5;
  border-radius: 20px;
  position: relative;
}

.giftNum {
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica';
  margin-right: 15px;
  color: #C4C4C4;
}

.closeButton {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 8px;
  top: 8px;
}

.giftHeader {
  margin-top: 68px;
  margin-left: 36px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
}

.coinBalance {
  margin-top: 68px;
  margin-left: 6px;
  margin-right: 36px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.giftList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 24px 15px;
  height: 558px;
  overflow-y: scroll;
  padding-bottom: 64px;
  box-sizing: border-box;
}

.giftList::-webkit-scrollbar {
  width: 4px;
  height: 4px; 
}
.giftList::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 46px;
}

.giftCard {
  width: 140px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 24px;
  margin-left: 9px;
  margin-right: 9px;
}

.giftCard:hover {
  border-color: rgb(255, 94, 109);

}

.giftTitle {
  font-weight: bold;
  font-size: 16px;
}

.giftCost {
  font-weight: 500;
  font-size: 14px;
  color: #8b8b8b;
}

.successButton {
  width: 100px;
  height: 42px;
  background: #ff5e6d;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 37px;
  border: none;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 50px);
}

.sendButton {
  width: 180px;
  height: 42px;
  background: #ff5e6d;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 37px;
  border: none;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 90px);
}

.sendButtonGift {
  width: 180px;
  height: 42px;
  background: #ff5e6d;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 37px;
  border: none;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 90px);
}

.sendButton:disabled {
  background: #c4c4c4;
}

.giftSuccess {
  width: 680px;
  height: 560px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.giftSuccessMessage {
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 26px;
}

.giftSuccessDetailMessage {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #777777;
  margin-top: 26px;
}

.giftAllItems {
  width: 680px;
  height: 680px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
}

.giftAllItemsTitle {
  font-family: 'Helvetica Neue', 'Helvetica';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  margin-top: 44px;
  margin-left: 22px;
  color: #000000;
}

.giftAllItemsContent {
  width: 636px;
  height: 490px;
  font-family: 'Helvetica Neue', 'Helvetica';
  margin-top: 36px !important;
  background-color: #ffffff;
  margin: auto;
  overflow-y: auto;
}

.giftAllItemsContent::-webkit-scrollbar {
  width: 4px;
  height: 4px; 
}
.giftAllItemsContent::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 46px;
}

.giftAllItemsPhoto {
  position: relative;
}

.giftAllItemsPhoto > img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.giftImage {
  position: absolute;
  top: 49px;
  left: 48px;
  width: 26px !important;
  height: 24px !important;
}

.giftAllItemsBody {
  display: flex;
  align-items: center;
  height: 96px;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
}

.giftAllItemsInfo {
  display: flex;
  justify-content: space-around;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 29px;
}

.userInfo p {
  margin: 0;
}

.userName {
  font-family: 'Helvetica Neue', 'Helvetica';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.followingDate {
  font-family: 'Helvetica Neue', 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #8B8B8B;
}

.followButton {
  width: 135px;
  height: 42px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: #EF6971;
  border: 2px solid #EF6971;
  box-sizing: border-box;
  border-radius: 32px;
  font-family: 'Helvetica Neue', 'Helvetica';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
}

.followButton {
  width: 114px;
  height: 36px;
  border: 2px solid #ef6971;
  border-radius: 32px;
  font-family: 'Helvetica Neue', 'Helvetica';
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #ef6971;
  transition: all 0.5s;
}

.followButton:hover {
  background-color: #ef6971;
  color: #ffffff;
}

.followButtonFollowing {
  composes: followButton;
  color: #FFFFFF;
  background-color: #C4C4C4;
  border-color: #C4C4C4;
}

.followButtonFollowing:hover {
  color: #8b8b8b;
  background-color: #ededed;
}

@media only screen and (max-width: 600px) {
  .giftAllItems {
    width: 100vw;
    height: 80vh;
    top: 20vh;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    animation-name: slider1;
    animation-duration: 0.5s;
  }

  .giftHeader {
    font-size: 18px;
    font-weight: bold;
  }

  .coinBalance {
    font-size: 14px;
    font-weight: bold;
  }

  @keyframes slider1 {
    0%   {top: calc(100vh);}
    100% {top: 20vh;}
  }

  .sendButtonGift {
    bottom: 60px;
  }

  .giftModal {
    width: 100%;
    height: calc(100vh - 51px);
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 0;
    position: relative;
    top: 51px;
    animation-name: slider;
    animation-duration: 0.5s;
  }

  .giftSuccess {
    width: 100%;
    height: calc(100vh - 51px);
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 0;
    position: relative;
    top: 51px;
  }

  .successButton {
    width: 180px;
    height: 42px;
    background: #ff5e6d;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border-radius: 37px;
    border: none;
    position: absolute;
    bottom: 100px;
    left: calc(50vw - 90px);
  }

  .floatButtons > div {
    width: 51px !important;
    height: 51px !important;
  }
  .giftList {
    height: 100vh;
  }
  @keyframes slider {
    0%   {top: calc(100vh);}
    100% {top: calc(51px);}
  }

  .giftAllItemsBody {
    width: 100vw;
  }
  .sendButton {
    width: 180px;
    height: 42px;
    background: #ff5e6d;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border-radius: 37px;
    border: none;
    position: absolute;
    bottom: 100px;
    left: calc(50vw - 90px);
  }
}